* {
    padding: 0;
    margin:0;
    box-sizing:border-box;
}


/* Nav Bar */



.container {
   width:100%; 
   padding:56px 12px;
}

.row {
  width:100%;
   max-width:1200px;
   margin: 0 auto;
}

.logo {
    width:10%;
    margin-left:30px;
}

.links {

    display:flex;
    flex-direction:row;
}

.link {
  margin-left:60px;
  font-size:20px;
  text-decoration: none;
  font-family:helvetica;
  color:black;

}

.btn-contact {
    margin-left:45px;
    margin-right:40px;
    font-size:15px;
    text-decoration: none;
    width:90px;
    
    border:4px yellow;
    border-radius: 20px;
    font-weight: 700;
    transition: all .35s ease;
   
    background-color: yellow;
    color: black !important;
}
h3 {
    
    font-size:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}



/* Header */

header .row {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:lightgray;
    border-radius:40px;
}



/* search bar section */


.sub-title {
  margin-left: 0;
  margin-left: 40px;
  margin-bottom:30px;
  transform: none;
  font-size: 35px;
  color:white;
}

.search-input {
    
    width:30%;
    font-size:20px;
    border-radius:40px;
    margin-bottom:50px;
  }
 
.search {
  background-image: url("./assets/Moviebg.jpg");
  background-size: cover;
  background-position: center;
  height: 500px; /* adjust this */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn {
    background-color:yellow;
    color:black;
    width:19%;
    border-radius:40px;
    font-size:25px;
    margin-left:40px;
}

.row .search-input {
    

    
}


.search-background {
    width:90%;
    margin-left:50px;
    margin-bottom:60px;
    transform: translateX(-50%);
    z-index: -1;
}



.instructions {
    margin-bottom: 200px;
    margin-right:250px;
    font-size:35px;
    color:blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*  Results Section */

.results {
   display:flex;
   flex-direction:row;
   left:30%;
   background-color:black;
   overflow-x:scroll;
}

h5 {
    font-size:15px;
    color:lightgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   

}

h4 {
    font-size:25px;
    color:yellow;
    font-family:helvetica;
    
    
}

.movie-info {
  padding-left: 20px;
}

.movie-poster {
    border:20px solid black;
}


/* Footer */


footer {
    background-color: black;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer__logo {
    max-width:200px;
    filter: invert(1);
    margin-top:30px;
}

.footer__links {
    margin-bottom:20px;
    margin-top:30px;
}

.footer__link {
    padding: 20px 30px;
    color:white;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:25px;
}

.copyright {
    color:white;
}



/* styles for desktop */










/* Styles for tablet */

@media(max-width:768px) {

.instructions {
    margin-bottom:150px;
    margin-top:5px;
}


}




/* styles for Mobile */


@media(max-width:480px) {

.sub-title {
    font-size:27px;
    margin-top:20px;
}

.instructions {
    font-size:20px;

}

.search-btn {
    width:30%;
    margin-left:20px;
}

.search-input {
    width:50%;
}

}


