


/* Nav Bar */



.container {
   width:100%; 
   padding:56px 12px;
}

.row {
  width:100%;
   max-width:1200px;
   margin: 0 auto;
}

.logo {
    width:10%;
    margin-left:30px;
}

.links {

    display:flex;
    flex-direction:row;
}

.link {
  margin-left:60px;
  font-size:20px;
  text-decoration: none;
  font-family:helvetica;
  color:black;

}

.btn-contact {
    margin-left:45px;
    margin-right:20px;
    margin-top:20px;
    font-size:15px;
    text-decoration: none;
    width:65%;
    height:15%;
    border:4px yellow;
    border-radius: 30px;
    font-weight: 700;
    transition: all .35s ease;
   
    background-color: yellow;
    color: black !important;
}




/* Header */

header .row {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:lightgray;
    border-radius:40px;
}



/* search bar section */

.search-input {
    
    width:50%;
    font-size:30px;
    border-radius:40px;
    
    
}

.search-btn {
    background-color:yellow;
    color:black;
    width:15%;
    border-radius:40px;
    font-size:30px;
    margin-left:30px;
}

.row .search-input {
    margin-left:250px;
    margin-top:150px;
    
}

.search-background {
    width:60%;
    margin-top:30px;
    position:absolute;
    margin-bottom:40px;
}

