


/* Nav Bar */



.container {
   width:100%; 
   padding:56px 12px;
}

.row {
  width:100%;
   max-width:1200px;
   margin: 0 auto;
}

.logo {
    width:10%;
    margin-left:30px;
}

.links {

    display:flex;
    flex-direction:row;
}

.link {
  margin-left:60px;
  font-size:20px;
  text-decoration: none;
  font-family:helvetica;
  color:black;

}

.btn-contact {
    margin-left:45px;
    margin-right:20px;
    margin-top:20px;
    font-size:15px;
    text-decoration: none;
    width:65%;
    height:15%;
    border:4px yellow;
    border-radius: 30px;
    font-weight: 700;
    transition: all .35s ease;
   
    background-color: yellow;
    color: black !important;
}




/* Header */

header .row {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:lightgray;
    border-radius:40px;
}



/* search bar section */

.search-input {
    
    width:30%;
    font-size:20px;
    border-radius:40px;
  
   
    
    
}

.search-btn {
    background-color:yellow;
    color:black;
    width:19%;
    border-radius:40px;
    font-size:25px;
    margin-left:40px;
}

.row .search-input {
    margin-left:200px;
    margin-top:150px;
    
}


.search-background {
    width:80%;
    margin-top:20px;
    position:absolute;
    margin-bottom:40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.sub-title {
    font-size:40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top:80px;
    position:absolute;
    margin-bottom:40px;
    left: 45%;
    transform: translateX(-50%);
    z-index: 1000;
    color:white;

}

.instructions {
    margin-left:207px;
    margin-bottom:60px;
    font-size:35px;
    color:blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*  Results Section */

.results {

   margin-top:300px; 
   display:flex;
   flex-direction:row;
   left:30%;
   background-color:black;
   overflow-x:scroll;
}

h5 {
    font-size:15px;
    color:lightgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   

}

h4 {
    font-size:25px;
    color:yellow;
    font-family:helvetica;
    
    
}

.movie-info {
  padding-left: 20px;
}

.movie-poster {
    border:20px solid black;
}



/* Styles for mobile */

@media(max-width:480px) {
   h3 {
    font-size:15px; 
    margin-top:30px;
   }

   .btn-contact {
    margin-bottom:15px;
   }
   .row .search-input {
    margin-left:100px;
    margin-top:115px;
    
}

    .sub-title {
        font-size:15px;
        margin-bottom:150px;
    }

    .search-btn {
    background-color:yellow;
    color:black;
    width:19%;
    border-radius:40px;
    font-size:15px;
    margin-left:20px;
}

.instructions {
    font-size:15px;
    margin-right:200px;
}

.search-input {
    width:40%;
    margin-bottom:50px;
}

}