


/* Nav Bar */

.navbar {
    height:50px;
 
}

.row {
    display:flex;
    flex-direction:row;
   
}

.logo {
    width:10%;
}

.links {

    display:flex;
    flex-direction:row;
    margin-left:200px;
    
    
    

}

.link {
  margin-right:20px;
}